#content {
    margin-top: 40px;
}

body{
    display: none;
    margin-bottom: 80px;
}

.profPic {
    width:100%;
}

.projectPic {
    width:100%;
}

.projects {
    background-color: #F0F0F0;
    padding-top: 1px;
    padding-bottom: 20px;
}

.projectFeatures {
    padding-left: 20px;
    list-style-type: circle;
}

.projectHeading {
    margin-top: 0px;
}

.resume {
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
}

.experience {
    margin-bottom: 20px;
}

#admin {
    width: 20px;
}

#adminPass {
    width: 20px;
    display: none;
}

#adminEnter {
    display: none;
}

#captchaArea {
    margin-bottom: 50px;
}

#captchaInput {
    width:100%;
    font-size: 28px;
}

#constructionIntro {
    margin-top: 30px;
}

#underConstruction {
    font-size: 28px;
}

#introText {
    font-size: 16px;
}

#projectTitle {
    margin-bottom: 2px;
}

#hoverDiv {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid black;
    padding: 5px;
    z-index: 20;
}

#logo {
    position: relative;
    top:-5px;
    left: 0px;
    z-index: 1000;
    height: 40px;
}

#projectList {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 70px;
    background-color: white;
}

#adminAlert {
    position: absolute;
    bottom: 50px;
    display: none;
    right: 5%;
}

#linkedin {
    
}

#angels {
    
}

#backgroundImage {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#bgimage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}